ALWAYS_SEARCH_USER_PATHS = NO
ARCHS = arm64 x86_64
CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_OBJC_ARC = YES
CONFIGURATION_BUILD_DIR = $(PROJECT_DIR)/../../build/native/$(AI_CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/Default
DSTROOT = /tmp/$(PRODUCT_NAME).dst
GCC_DEBUGGING_SYMBOLS = full
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_DIR)/../../sdk/Adobe Illustrator 2026 SDK/samplecode/common/includes/IllustratorSDK$(AI_CONFIGURATION).pch
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GENERATE_PKGINFO_FILE = YES
HEADER_SEARCH_PATHS = "$(PROJECT_DIR)/../../sdk/Adobe Illustrator 2026 SDK/illustratorapi/ate" "$(PROJECT_DIR)/../../sdk/Adobe Illustrator 2026 SDK/illustratorapi/illustrator" "$(PROJECT_DIR)/../../sdk/Adobe Illustrator 2026 SDK/illustratorapi/illustrator/actions" "$(PROJECT_DIR)/../../sdk/Adobe Illustrator 2026 SDK/illustratorapi/pica_sp" "$(PROJECT_DIR)/../../sdk/Adobe Illustrator 2026 SDK/samplecode/common/includes" "$(PROJECT_DIR)/Source"
INFOPLIST_FILE = $(PROJECT_DIR)/Config/Info.plist
INFOPLIST_PREPROCESS = NO
MACOSX_DEPLOYMENT_TARGET = 12.0
OBJROOT = $(PROJECT_DIR)/build
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
OTHER_LDFLAGS = $(inherited) -ld_classic
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
PRODUCT_BUNDLE_IDENTIFIER = studio.vectorsuite.plugin.core
PRODUCT_NAME = VectorSuiteNative
REZ_SEARCH_PATHS = "$(PROJECT_DIR)/Resources/raw" "$(PROJECT_DIR)/Resources/Mac" "$(PROJECT_DIR)/../../sdk/Adobe Illustrator 2026 SDK/samplecode/common/mac"
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES = YES
SDKROOT = macosx
SHARED_PRECOMPS_DIR = $(PROJECT_DIR)/build/sharedprecompiledheaders/$(AI_CONFIGURATION)
SYMROOT = $(PROJECT_DIR)/../../build/native/$(AI_CONFIGURATION)
WRAPPER_EXTENSION = aip
